@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #35323e;
  text-align: center;
  line-height: 1.5;
}

header {
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header button {
  cursor: pointer;
  font-size: 1.8rem;
  color: #bfbfbf;
  background: transparent;
  border: none;
  position: absolute;
  right: 2rem;
}

header nav ul {
  width: 85vw;
  max-width: 400px;
  padding: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: #3b3054;
  position: absolute;
  top: 130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  display: none;
}

header nav ul li a {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #2acfcf;
}

header nav ul li:nth-child(3) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eff0f5;
  border-color: rgba(255, 255, 255, 0.2);
}

header nav ul li:nth-child(4) {
  padding-top: 1rem;
}

header nav ul li:nth-child(5) {
  margin: 0.5rem 1rem 1rem 1rem;
  border-radius: 3rem;
  background-color: #2acfcf;
}

header nav ul li:nth-child(5) a {
  padding: 0.5rem;
}

header nav ul li:nth-child(5):hover {
  background-color: #9ce3e2;
}

header nav ul li:nth-child(5):hover a {
  color: white;
}

header nav ul.active {
  display: block;
}

.hero-container {
  padding: 0 1.5rem;
  margin: 1rem 0 0 0;
  overflow: hidden;
}

.hero-container div:first-child {
  width: 100vw;
}

.hero-container div:first-child img {
  width: 135%;
}

.hero-container div:last-child {
  margin: 2.5rem 0 10rem 0;
}

.hero-container div:last-child h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero-container div:last-child p {
  margin: 1rem 0;
  color: #9e9aa7;
}

.hero-container div:last-child button {
  margin-top: 1rem;
}

.shorten-container {
  width: 85vw;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #3b3054;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 4rem -3rem;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.shorten-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shorten-container form input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 3px solid white;
}

.shorten-container form input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.shorten-container form input:-ms-input-placeholder {
  color: #bfbfbf;
}

.shorten-container form input::-ms-input-placeholder {
  color: #bfbfbf;
}

.shorten-container form input::placeholder {
  color: #bfbfbf;
}

.shorten-container form p {
  display: none;
}

.shorten-container form.error input {
  border: 3px solid #f46262;
  border-radius: 5px;
}

.shorten-container form.error input::-webkit-input-placeholder {
  color: #fbc1c1;
}

.shorten-container form.error input:-ms-input-placeholder {
  color: #fbc1c1;
}

.shorten-container form.error input::-ms-input-placeholder {
  color: #fbc1c1;
}

.shorten-container form.error input::placeholder {
  color: #fbc1c1;
}

.shorten-container form.error p {
  display: block;
  width: 100%;
  color: #f46262;
  text-align: left;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 5px 0;
}

.links-container {
  margin: 7rem 0 0 0;
}

.links-container .link-content {
  width: 85vw;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  text-align: left;
  background-color: white;
  border-radius: 0.3rem;
  display: none;
}

.links-container .link-content div:first-child {
  padding: 1rem;
  border-bottom: 1px solid #bfbfbf;
}

.links-container .link-content div:first-child p {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.links-container .link-content div:first-child p::-webkit-scrollbar {
  display: none;
}

.links-container .link-content div:last-child {
  padding: 1rem;
}

.links-container .link-content div:last-child p {
  color: #2acfcf;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.links-container .link-content div:last-child p::-webkit-scrollbar {
  display: none;
}

.links-container .link-content div:last-child button.active {
  background-color: #3b3054;
}

.links-container .link-content.active {
  display: block;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff0f5;
  position: relative;
}

main .stats-container {
  width: 85vw;
  margin: 5rem 0;
}

main .stats-container p {
  color: #9e9aa7;
  margin: 1rem 0 0 0;
  font-size: 1rem;
}

main .stats-container article {
  margin-top: 6rem;
  padding: 5rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
  background-color: white;
  position: relative;
}

main .stats-container article::before {
  content: '';
  display: block;
  width: 90px;
  height: 90px;
  background-color: #3b3054;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .stats-container article::after {
  content: '';
  display: block;
  width: 8px;
  height: 50px;
  background-color: #2acfcf;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

main .stats-container .article-1::before {
  background-image: url(../images/icon-brand-recognition.svg);
}

main .stats-container .article-2::before {
  background-image: url(../images/icon-detailed-records.svg);
}

main .stats-container .article-3::before {
  background-image: url(../images/icon-fully-customizable.svg);
}

main .stats-container .article-3::after {
  display: none;
}

.boost-container {
  height: 300px;
  color: white;
  background-color: #3b3054;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boost-container button {
  margin-top: 1rem;
}

footer {
  color: white;
  background-color: #232127;
}

footer img {
  margin: 3rem 0;
}

footer ul {
  list-style: none;
  margin: 1rem 0 3rem 0;
}

footer ul li a {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #bfbfbf;
  text-decoration: none;
}

footer ul li a:hover {
  color: #2acfcf;
}

footer .social-container {
  padding: 0 0 3rem 0;
  font-size: 1.7rem;
}

footer .social-container a {
  padding: 0 0.5rem;
  color: white;
}

footer .social-container a:hover {
  color: #2acfcf;
}

.get-started {
  cursor: pointer;
  color: white;
  background-color: #2acfcf;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.9rem 2.5rem;
  border-radius: 3rem;
}

.get-started:hover {
  background-color: #9ce3e2;
}

.btn {
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #2acfcf;
}

.btn:hover {
  background-color: #9ce3e2;
}

.loading-container {
  z-index: 3000;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.loading-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 2px solid white;
  border-top-color: #232127;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

.loading-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .hero-container div:first-child img {
    width: 130%;
  }
  main .shorten-container {
    background-position: 10rem -14rem;
  }
  main .stats-container p {
    width: 70%;
    margin: 1rem auto 0 auto;
  }
  main .stats-container div p {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 4rem 0;
    padding-bottom: 1rem;
    width: 80vw;
    margin: 0 auto;
  }
  header button {
    display: none;
  }
  header nav ul {
    width: 100%;
    max-width: unset;
    font-weight: 700;
    padding: 1rem 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  header nav ul li a {
    color: #9e9aa7;
  }
  header nav ul li:nth-child(3) {
    padding-bottom: 0;
    margin-right: 6rem;
  }
  header nav ul li:nth-child(4) {
    padding: 0;
  }
  header nav ul li:nth-child(5) {
    margin: 0 0 0 1rem;
    padding: 0.3rem 2rem;
  }
  header nav ul li:nth-child(5) a {
    color: white;
  }
  .hero-container {
    width: 80vw;
    height: 680px;
    padding: 0;
    margin: 2rem auto 0 auto;
    text-align: left;
    position: relative;
  }
  .hero-container div:first-child {
    width: 50vw;
    position: absolute;
    top: 50%;
    right: -10%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  .hero-container div:first-child img {
    width: 130%;
  }
  .hero-container div:last-child {
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  .hero-container div:last-child h2 {
    font-size: 3rem;
  }
  .hero-container div:last-child p {
    font-size: 1.2rem;
  }
  main .shorten-container {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    width: 80vw;
    padding: 3rem;
    position: relative;
  }
  main .shorten-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .shorten-container form p {
    display: none;
    position: absolute;
    bottom: 1rem;
  }
  main .shorten-container form button {
    margin: 0 0 0 1rem;
    padding: 0.7rem 0;
    width: 200px;
  }
  main .shorten-container form.error input {
    border: 3px solid #f46262;
    border-radius: 5px;
  }
  main .shorten-container form.error input::-webkit-input-placeholder {
    color: #fbc1c1;
  }
  main .shorten-container form.error input:-ms-input-placeholder {
    color: #fbc1c1;
  }
  main .shorten-container form.error input::-ms-input-placeholder {
    color: #fbc1c1;
  }
  main .shorten-container form.error input::placeholder {
    color: #fbc1c1;
  }
  main .shorten-container form.error p {
    display: block;
    width: 100%;
    color: #f46262;
    text-align: left;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px 0;
  }
  main .links-container {
    width: 80vw;
    margin: -3rem 0 0 0;
  }
  main .links-container .link-content {
    width: 100%;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .links-container .link-content div:first-child {
    width: 520px;
    padding: 1rem;
    border-bottom: unset;
  }
  main .links-container .link-content div:first-child p {
    overflow-x: auto;
    white-space: nowrap;
  }
  main .links-container .link-content div:last-child {
    width: 300px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .links-container .link-content div:last-child p {
    overflow-x: auto;
    white-space: nowrap;
  }
  main .links-container .link-content div:last-child p a {
    color: #2acfcf;
    text-decoration: none;
  }
  main .links-container .link-content div:last-child button {
    margin: 0 0 0 1rem;
    max-width: 150px;
  }
  main .links-container .link-content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .stats-container {
    width: 80vw;
  }
  main .stats-container p {
    width: 500px;
    margin: 1rem auto 0 auto;
  }
  main .stats-container div {
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .stats-container div article {
    width: 250px;
    height: 300px;
    margin: 5rem 0 0 0;
    padding: 5rem 1rem 2rem 1rem;
  }
  main .stats-container div article p {
    width: 100%;
  }
  main .stats-container div article::before {
    left: 30%;
  }
  main .stats-container div article::after {
    width: 200px;
    height: 8px;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  main .stats-container div .article-2 {
    margin: 8rem 0 0 0;
  }
  main .stats-container div .article-2::after {
    top: 35%;
  }
  main .stats-container div .article-3 {
    margin: 11rem 0 0 0;
  }
  .boost-container {
    background-image: url(../images/bg-boost-desktop.svg);
  }
  footer {
    padding: 3rem 0 1rem 0;
  }
  footer div {
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer div img {
    margin: 0 10rem 0 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  footer div div {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer div:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1440px) {
  header nav ul li:nth-child(3) {
    padding-bottom: 0;
    margin-right: 27rem;
  }
  .hero-container {
    width: 80vw;
  }
  .hero-container div:first-child {
    right: -20%;
  }
  .hero-container div:first-child img {
    width: 100%;
  }
  .hero-container div:last-child {
    width: 70%;
  }
  .hero-container div:last-child h2 {
    font-size: 5rem;
  }
  .hero-container div:last-child p {
    font-size: 1.5rem;
    padding-right: 10rem;
  }
  main .links-container {
    width: 80vw;
  }
  main .links-container .link-content {
    width: 100%;
  }
  main .links-container .link-content div:first-child {
    width: 800px;
  }
  main .links-container .link-content div:last-child {
    width: 350px;
  }
  main .stats-container {
    width: 80vw;
  }
  main .stats-container p {
    width: 500px;
    margin: 1rem auto 0 auto;
  }
  main .stats-container div article {
    width: 350px;
    height: 260px;
    padding: 5rem 2rem 2rem 2rem;
  }
  main .stats-container div article::before {
    left: 20%;
  }
  footer div img {
    margin: 0 20rem 0 0;
  }
}

@media (min-width: 1920px) {
  header {
    width: 70vw;
  }
  header nav ul li:nth-child(3) {
    padding-bottom: 0;
    margin-right: 39rem;
  }
  .hero-container {
    width: 70vw;
  }
  .hero-container div:first-child {
    right: -20%;
  }
  .hero-container div:first-child img {
    width: 80%;
  }
  .hero-container div:last-child {
    width: 50%;
  }
  .hero-container div:last-child h2 {
    font-size: 5rem;
  }
  .hero-container div:last-child p {
    font-size: 1.5rem;
    padding-right: 10rem;
  }
  main .links-container {
    width: 70vw;
  }
  main .links-container .link-content {
    width: 100%;
  }
  main .links-container .link-content div:first-child {
    width: 900px;
  }
  main .links-container .link-content div:last-child {
    width: 400px;
  }
  main .shorten-container {
    width: 70vw;
  }
  main .stats-container {
    width: 70vw;
  }
  main .stats-container p {
    width: 500px;
    margin: 1rem auto 0 auto;
  }
  main .stats-container div article {
    width: 400px;
    height: 280px;
    padding: 5rem 3rem 2rem 3rem;
  }
  footer div {
    width: 70vw;
  }
  footer div img {
    margin: 0 30rem 0 0;
  }
}
/*# sourceMappingURL=style.css.map */